[Desktop Entry]
Name=Tetris
GenericName=Falling Blocks Game
Exec=tetris-static
Icon=tetris-static
Terminal=false
Type=Application
Categories=Qt;Game;ArcadeGame;
